<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<Script src="..\NodeJs\node_modules\socket.io-client\dist\socket.io.js"></Script>
<Script src="js\cart.js"></Script>
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="css/cart.css">
<body>

<div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl" class="w3-card-2 w3-margin" style="max-width:601px;">
  <header class="w3-container w3-light-grey w3-padding-16">
    <h3>My Shopping Cart</h3>
  </header>
  <table>
  <tr ng-repeat="x in products">
    <td class="pizza-name">{{ x.name }}</td>
    <td class="pizza-controls red" ng-click="removeQuantity($index)" style="cursor:pointer;" title="remove quantity">-</td>
    <td class="pizza-controls">{{x.quantity}}</td>
    <td class="pizza-controls green" ng-click="addQuantity($index)" style="cursor:pointer;" title="add quantity">+</td>
    <td class="pizza-amount">{{x.price}}</td>
    <td class="pizza-controls red" ng-click="removeItem($index)" style="cursor:pointer;" title="remove item">X</td>
  </tr>
</table>
<div class="w3-container w3-light-grey w3-padding-16">
    <div class="w3-row w3-margin-top">
      <div class="w3-col s11 total">
        Total:
      </div>
      <div class="w3-col s1">
        $40
      </div>
    </div>
    <p class="w3-text-red">{{errortext}}</p>
  </div>
</div>

</body>
</html>
