<!doctype html>
<html class="no-js" lang="">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>DragonStone Pizza</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,400italic,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="lib/css/nivo-slider.css" type="text/css" />
  <link rel="stylesheet" href="lib/css/preview.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/responsive.css">
  <script src="js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<Script src="..\NodeJs\node_modules\socket.io-client\dist\socket.io.js"></Script>
<Script src="js\cart.js"></Script>
<link rel="stylesheet" href="css/w3.css">
<link rel="stylesheet" href="css/side.css">
</head>

<body class="home">
  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <!-- Add your site or application content here -->
  <header>
    <div class="header-container">
      <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
              <div class="global-table">
                <div class="global-row">
                  <div class="global-cell">
                    <div class="logo"> <a href="index.html" title="DragonStone"><img src="img/logo/logo-1.png" alt="logo image" ></a> </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-9 hidden-sm hidden-xs">
              <div class="horizontal-menu">
                <div class="global-table">
                  <div class="global-row">
                    <div class="global-cell">
                      <div class="visible-large">
                        <div class="mega_main mega_main_menu" id="mega_main_menu_first">
                          <div class="menu_holder">
                            <div class="menu_inner">
                              <nav>
                                <ul class="mega_main_menu_ul" id="mega_main_menu_ul_first">
                                  <li class="menu-item active"> <a class="item_link" href="homePage.html"> <span class="link_content"> <span class="link_text">Home</span> </span> </a>                                    </li>
                                  <li class="menu-item megamenu_list"> <a class="item_link" href="#"> <span class="link_content"> <span class="link_text">Shop</span> </span> </a>                                    </li>
                                  <li class="menu-item"> <a class="item_link" href="about.html"> <span class="link_content"> <span class="link_text">About</span> </span> </a>                                    </li>
                                  <li class="menu-item"> <a class="item_link" href="contact.html"> <span class="link_content"> <span class="link_text">Contact</span> </span> </a>                                    </li>
                                </ul>
                              </nav>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 hidden-md hidden-lg">
              <div class='mobile-menu-area'>
                <nav id="mobile-menu">
                  <ul>
                    <li><a href="index.html">Home</a> </li>
                    <li><a href="#">Shop</a> </li>
                    <li><a href="#">About</a> </li>
                    <li><a href="#">Contact</a> </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="clear"></div>
  <div class="shop-header-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="shop-header-title">
            <h1>Pizza Catalog</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl"> 
            <div class="w3-card-2 w3-margin sidearea">
            <div class="cart">
                  <header class="w3-container topic">
                    <h4>My Shopping Cart</h4>
                  </header>
                  <table>
                  <tr class="ng-scope cartheader">
                    <td class="pizza-name">Item</td>
                    <td class="pizza-controls"></td>
                    <td class="pizza-controls"></td>
                    <td class="pizza-controls"></td>
                    <td class="pizza-amount">price</td>
                    <td class="pizza-controls"></td>
                  </tr>
                  <tr ng-repeat="x in products">
                    <td class="pizza-name">{{ x.name }}</td>
                    <td class="pizza-controls red" ng-click="reduceQuantity($index)" style="cursor:pointer;" title="remove quantity">-</td>
                    <td class="pizza-controls">{{x.quantity}}</td>
                    <td class="pizza-controls green" ng-click="addQuantity($index)" style="cursor:pointer;" title="add quantity">+</td>
                    <td class="pizza-amount">{{x.price}}</td>
                    <td class="pizza-controls red" ng-click="removeItem($index)" style="cursor:pointer;" title="remove item">X</td>
                  </tr>
                  <tr class="ng-scope cartheader">
                    <td class="pizza-name">Total</td>
                    <td class="pizza-controls"></td>
                    <td class="pizza-controls"></td>
                    <td class="pizza-controls"></td>
                    <td class="pizza-amount">{{totalPrice}}</td>
                    <td class="pizza-controls"></td>
                  </tr>
                </table>
                <div class="w3-container topic">
                    <div class="w3-row w3-margin-top"  ng-click="checkOut($index)" style="cursor:pointer;" title="remove item">
                      Checkout
                    </div>
                   
                  </div>
            </div>
            <div class="logs">
                  <header class="w3-container topic">
                    <h4>Users Activity Logs</h4>
                  </header>
                  <table>
                  
                  <tr ng-repeat="x in logs" class="ng-scope">
                    <td  class="logentries">{{ x }}</td>
                  </tr>
                </table>
            </div>
          </div>

  <div>
    <table cellspacing="0">
      <caption>
        <h3>Select a Pizza to conquer your hunger!</h3>
      </caption>
      <tr class="row_hover" ng-repeat="x in catalog">
        <td>
          <div id="pizza_image" class="col-sm-12">
            <a href="">
            <img title="Pepperoni pizza" alt="Pepperoni Pizza" src="{{x.img_url}}"/>
            </a>
        </td>
        <td>
          <a href="">
            <h4>
              <a alt="" href="#"><span id="myBtn" ng-click="showModal($index)" >
                    {{x.name}}</span>
                    </a>
            </h4>
            <p>{{x.desc}}</p>
          </a>
        </td>
        <td>
          <a href="">
            <h5 class="old-price"> <span class="price">{{x.price}}</span></h5>
            </div>
      </tr>
      </table>

  </div>

<div id="item_modal" class="modal">

    <!-- Modal content for Pepperoni pizza -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h2>{{modalPizzaName}}</h2>
        <h3>{{modalPizzaPrize}}</h3>
      </div>
      <div class="modal_image_position">
        <img class="modal_image" src="{{modalPizzaUrl}}" />
      </div>
      <div class="modal-body">
        <p>{{modalPizzaDesc}}</p>
        <hr/>
        <h5>Choose Size of the Pizza</h5>
        <input type="radio" name="size">Small</input>
        <input type="radio" name="size">Medium</input>
        <input type="radio" name="size">Large</input>
        <hr/>
        <h5>Extra Toppings</h5>
        <input type="checkbox">Cheese</input>
        <input type="checkbox">Onions</input>
        <input type="checkbox">Black Olives</input>
        <input type="checkbox">Chicken</input>
        <input type="checkbox">Sun Dried Tomato</input>
        <input type="checkbox">Jalapeno Peppers</input>
      </div>
      <div class="modal-footer">
        <h4><button ng-click="addItem($index)">Add to Cart</button></h4>
      </div>
    </div>


</div>


  <!-- The Individual Modal for each Item -->
  
       
    <!-- js file for modal boxes -->
    <script src="js/product_catalog.js" type="text/javascript"></script>

    <script src="js/vendor/jquery-1.11.3.min.js"></script>
    <script src="lib/js/jquery.nivo.slider.js" type="text/javascript"></script>
    <script src="lib/home.js" type="text/javascript"></script>
</body>

</html>
